.companions {
  background: url('../../img/pictures/bg-about-mobile.png') 50% 100% no-repeat, @bg_dark;
  padding-top: 33px;
  padding-bottom: 62px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 6;
}

.companions__title,
.companions__text,
.companions__subtext {
  padding-left: 25px;
  padding-right: 25px;
}


.companions__list {
  .reset-list();

  @media @tablet {
    display: flex;
  }
}

.companions__item {
  margin: 20px 0;

  @media @tablet {
    width: 50%;
  }
}

@media @desktop {
  .companions__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .companions__title {
    grid-area: ~"1 / 1 / 2 / 2";
  }

  .companions__text {
    grid-area: ~"2 / 1 / 3 / 2";
  }

  .companions__subtext {
    grid-area: ~"3 / 1 / 4 / 2";
  }

  .companions__button {
    grid-area: ~"4 / 1 / 5 / 2";
  }

  .companions__list {
    grid-area: ~"1 / 2 / 5 / 3";
  }
}
