.country-filter {
  width: 100%;
}

.country-filter__nav {
  width: 100%;
  border-collapse: collapse;
  background: @clr_white;
}

.country-filter__cell {
  width: 20%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: @clr_basic_blue_light;
  height: 0;
  border: 1px solid @clr_light_telegrey;
  cursor: pointer;

  &:after,
  &:before {
    content: '';
    display: block;
    padding-bottom: calc(50% - 0.57em);
  }

  &:hover,
  &--current {
    transform: perspective(1000px) translateZ(1px);
    background-color: @clr_smoky_white;
    box-shadow: 0px -1px 0px -1px @clr_smoky_white;
    border-bottom-color: @clr_smoky_white;
  }
}

.country-filter__list {
  .reset-list();
  border: 1px solid @clr_light_telegrey;
  margin-top: -1px;
  color: @clr_special_grey;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-transform: none;
  padding: 20px;
  background: @clr_white;
}

.country-filter--catalog {
  text-transform: uppercase;

  .country-filter__cell {

    &:hover,
    &--current {
      color: @clr_white;
      transform: perspective(1000px) translateZ(1px);
      background-color: @clr_basic_blue_light;
      box-shadow: 0px -1px 0px -1px @clr_basic_blue_light, -1px 0px 0px -1px @clr_basic_blue_light;
      border-color: @clr_basic_blue_light;
    }

    &:after,
    &:before {
      content: '';
      display: block;
      padding-bottom: calc(50% - 0.65em);
    }
  }

  .country-filter__list {
    background: transparent;
    border: none;
    padding: 0;
    padding-top: 14px;
  }

}
