.flag {
  &:not(.flag--text) {
    width: 35px;
    height: 24px;
    font-size: 0;
    background-position: center center;
  }

  background-image: url("../../img/icons/error.svg");
  background-repeat: no-repeat;

  &--text {
    display: flex;
    align-items: center;
    height: 18px;
    padding-left: 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: @clr_basic_blue_light;
    background-position: left center;
    // background-size: 26px 18px;
    background-size: contain;
  }


  &--france {
    background-image: url("../../img/pictures/flag-france.png");
  }

  &--czech {
    background-image: url("../../img/pictures/flag-czech.png");
  }

  &--thailand {
    background-image: url("../../img/pictures/flag-thailand.png");
  }

  &--sri-lanka {
    background-image: url("../../img/pictures/sri-lanka.png");
  }

  &--seychelles {
    background-image: url("../../img/pictures/seychelles.png");
  }

  &--belgium {
    background-image: url("../../img/pictures/flag-belgium.png");
  }

  &--bosnia {
    background-image: url("../../img/pictures/flag-bosnia.png");
  }

  &--usa {
    background-image: url("../../img/pictures/usa.png");
  }

  &--australia {
    background-image: url("../../img/pictures/australia.png");
  }

  &--dominica {
    background-image: url("../../img/pictures/dominica.png");
  }

  &--unitedkingdom {
    background-image: url("../../img/pictures/unitedkingdom.png");
  }

  &--germany {
    background-image: url("../../img/pictures/germany.png");
  }
}

