.plans-list {
  list-style-type: none;
  padding-left: 0;
  counter-reset: plans-list-counter;
  list-style-position: inside;
}

.plans-list__item {
  background: @clr_white;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: @clr_basic_blue_light;

  @media @tablet {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media @desktop {
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
  }
}

.plans-list__title {
  font-weight: bold;
  font-size: 16px;
  &::before {
    counter-increment: plans-list-counter;
    content: counters(plans-list-counter, ".") ". ";
    @media @tablet {
      font-size: 20px;
    }
  }

  @media @tablet {
    display: flex;
    width: 100%;
    font-size: 24px;
    border-bottom: 1px solid fade(@clr_light_telegrey, 30%);
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    &::before {
      order: 2;
      margin-left: auto;
    }
  }

  @media @desktop {
    width: 50%;
    align-items: center;
    border: none;
    padding: 0;
    &::before {
      order: -1;
      margin-left: 0;
      margin-right: 36px;
    }
  }
}

.plans-list__info,
.plans-list__time {
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 500;

  @media @tablet {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.plans-list__info {
  @media @tablet {
    letter-spacing: 0.1em;
    margin-left: 25px;
  }
}

.plans-list__edit-button {
  .reset-btn();
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.3;

  @media @tablet {
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-right: 25px;
  }
}
