.plans-list {
  list-style-type: none;
  padding-left: 0;
  counter-reset: plans-list-counter;
  list-style-position: inside;
}

.plans-list__item {
  background: @clr_white;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: @clr_basic_blue_light;
}

.plans-list__title {
  font-weight: bold;
  font-size: 16px;
  &::before {
    counter-increment: plans-list-counter;
    content: counters(plans-list-counter, ".") ". ";
  }
}

.plans-list__info {
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 500;
}

.plans-list__edit-button {
  .reset-btn();
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.3;
}
