.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: "#";
  list-style-position: inside;

  &--profile {
    justify-content: start;
    padding: 0 25px;
    padding-bottom: 10px;
    @media @tablet {
      padding-bottom: 0;
      padding-top: 5px;
    }

    .tags__item {
      opacity: 0.6;
      @media @tablet {
        font-size: 20px;
        font-size: 22px;
      }
    }


  }

  &--catalog {
    padding: 0;
    justify-content: start;

    .tags__item {
      font-size: 15px;
      line-height: 18px;
    }
  }


}

.tags__item {
  font-size: 16px;
  line-height: 18px;
  color: @clr_special_grey;

  &:not(:last-child) {
    margin-right: 4px;
    @media @tablet {
      margin-right: 7px;
    }
  }

}
