.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: "#";
}

.tags__item {
  font-size: 16px;
  line-height: 18px;
  color: @clr_special_grey;

  &:not(:last-child) {
    margin-right: 15px;
  }
}
