.transport-list {
  .reset-list();
  display: flex;
  justify-content: center;

  &--catalog {
    justify-content: start;

    @media @tablet {
      flex-direction: column;
    }

    @media @desktop {
      flex-direction: row;
    }

    .transport-list__item {
      background-color: @clr_smoky_white;
      @media @tablet {
        background-color: transparent;
        height: 30px;
        width: 30px;
      }

      &::after {
        background: @clr_smoky_white;
        @media @tablet {
          background-color: @clr_white;
        }
      }
    }
  }
}

.transport-list__item {
  font-size: 0;
  width: 31px;
  height: 31px;
  margin: 0.5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: @clr_white;
  border-radius: 100%;
  position: relative;

  @media @tablet {
    width: 43px;
    height: 43px;
  }

  &::after {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .85;
    background: @clr_white;

    @media @tablet {
      width: 43px;
      height: 43px;
    }
  }

  &--active {
    &::after {
      opacity: 0;
    }
  }

  &--plane {
    background-image: url("../../img/icons/plane.svg");
    background-size: 14px;
    @media @tablet {
      background-size: 20px;
    }
  }

  &--bus {
    background-image: url("../../img/icons/bus.svg");
    background-size: 16px;
    @media @tablet {
      background-size: 22px;
    }
  }

  &--bisycle {
    background-image: url("../../img/icons/bisycle.svg");
    background-size: 20px;
    @media @tablet {
      background-size: 27px;
    }
  }

  &--foot {
    background-image: url("../../img/icons/run.svg");
    background-size: 16px;
    @media @tablet {
      background-size: 22px;
    }
  }
}
