.transport-list {
  .reset-list();
  display: flex;
  justify-content: center;

  &--grey {
    justify-content: start;
    .transport-list__item {
      background-color: @clr_smoky_white;
      &::after {
        background: @clr_smoky_white;
      }
    }
  }
}

.transport-list__item {
  font-size: 0;
  width: 31px;
  height: 31px;
  margin: 0.5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: @clr_white;
  border-radius: 100%;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .85;
    background: @clr_white;
  }

  &--active {
    &::after {
      opacity: 0;
    }
  }

  &--plane {
    background-image: url("../../img/icons/plane.svg");
    background-size: 14px;
  }

  &--bus {
    background-image: url("../../img/icons/bus.svg");
    background-size: 16px;
  }

  &--bisycle {
    background-image: url("../../img/icons/bisycle.svg");
    background-size: 20px;
  }

  &--foot {
    background-image: url("../../img/icons/run.svg");
    background-size: 16px;
  }
}
