.user-profile {
  background: #EDEFF6;
  padding-bottom: 50px;
}

.user-profile__box {
  display: flex;
  flex-wrap: wrap;
}

.user-profile__level,
.user-profile__photo-box {
  width: 50%;
}

.user-profile__photo-box {
  padding: 20px;
}

.user-profile__photo-img {
  width: 100%;
  border-radius: 100%;
}
