@bg_dark: #161C35;
@clr_basic_yellow: #FFD74B;
@clr_basic_blue: #161C35;
@clr_dark_blue: #121936;
@clr_special_orange: #FF8D30;
@clr_special_dark_yellow: #FFBD30;
@clr_special_grey: #444444;
@clr_basic_blue_light: #1D2E5B;
